<section class="flex flex-col items-center justify-center h-screen bg-gray-100 p-12">
  <div class="flex flex-col items-center justify-center w-full h-full" (dragover)="onDragOver($event)"
    (dragleave)="onDragLeave($event)" (drop)="onDrop($event)" [class.drag-and-drop-zone]="isDragging">

    <h1 class="text-3xl font-bold mb-4">Conversor de Pareceres</h1>

    @if (!arquivoSelecionado) {
    <div class="p-5 border-2 border-dashed border-gray-400 rounded-md cursor-pointer" (click)="fileInput.click()" [class.drag-and-drop-zone]="isDragging">
      Arraste e solte o arquivo aqui ou clique para selecionar.
    </div>
    }

    <input type="file" (change)="onFileSelected($event)" class="hidden" multiple accept="application/pdf" #fileInput>

    @if (arquivoSelecionado) {
    <button (click)="processFile()"
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4">
      Converter
    </button>
    }

    @if (arquivoConvertido) {
    <div class="mt-4">
      <a [href]="arquivoConvertido" class="text-blue-500">
        Baixar Arquivo Convertido
      </a>
    </div>
    }

    @for (file of fileNames; track $index) {
      <div>
        {{ file }}
      </div>
    }

  </div>
</section>

<!-- <input type="file" (change)="onFileSelected($event)" multiple accept="application/pdf"/>
@for (file of fileNames; track $index) {
  <div>
    {{ file }}
  </div>
} -->